
<div class="grid_2 intro-contact">
<p><%= link_to "Contact Us" %></p>
</div> <!--  intro-contact -->

<div class="grid_12 glass">
	<div class="glass-overlay"></div>
  <!--[if lt IE 9]>
    <div class="legacy-ie-fix"></div>
  <![endif]-->
</div>

