/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */



.product-image {
	width: 50%;
}

#intro {

	height: 800px;
	background: url('background-sample-2.png') no-repeat center center fixed ;
	background-size: cover;
	background-position: 0% 100%;
}

#header-logo-1 {
	position: fixed;
	width: 100%;
	top: 0;
}

#header-logo-1 h1 {
	text-align: center;
	margin: 0 auto 0 auto;
	position: relative;
	top: -1%;
}

.intro-menu {
	margin-bottom: 1%;
	position: absolute;
	top: 0;
}

.intro-menu ul {
	text-align: center;
	margin: 7% 0 0 0;
	list-style: none;
	font-family: 'Grand Hotel', cursive;
}

.intro-menu li {
	display: inline;
}

.intro-menu li a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.5em;
	color: #444;
	padding-bottom: 1.5%;
	white-space: nowrap;
}

.intro-menu li a:hover {
	background: url('flourish-1.png') no-repeat 100% 100%;
}

.intro-menu li.menu-item-1 {
	margin-left: 23%;
	margin-right: 7%;
}

.intro-menu li.menu-item-2 {
	margin-left: 0%;
	margin-right: 0%;
}

.intro-menu li.menu-item-3 {
	margin-left: 37%;
	margin-right: 2%;
}

.intro-menu li.menu-item-4 {
	margin-left: 5%;
	margin-right: 5%;
}
#second {

	height: 800px;

}

#third {

	height: 800px;


}

#fourth {

	height: 800px;

}

#fifth{

	height: 800px;

}
