/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the top of the
 * compiled file, but it's generally better to create a new file per style scope.
 *
 *= require_self
 *= require_tree .
 */

/* Home Page*/

#intro {

	height: 800px;
	background: url('background-sample-2.png') no-repeat center center fixed ;
	background-size: cover;
	background-position: 0% 100%;
}

#header-logo-1 {
	position: absolute;
	width: 100%;
	top: 0;
}

#header-logo-1 h1 {
	text-align: center;
	margin: 0 auto 0 auto;
	top: -1%;
}

.intro-menu {
	margin-bottom: 1%;
	position: absolute;
	top: 0;
	z-index: 110;
}

.intro-menu ul {
	text-align: center;
	margin: 7% 5% 0 0;
	list-style: none;
	font-family: 'Grand Hotel', cursive;
}

.intro-menu li {
	display: inline;
}

.intro-menu li a {
	display: inline-block;
	text-decoration: none;
	font-size: 1.5em;
	color: #444;
	padding-bottom: 1.5%;
	white-space: nowrap;
}

.intro-menu li.menu-item-1 {
	margin-left: 0%;
	margin-right: 0%;
}

.intro-menu li.menu-item-1 a:hover {
	background: url('flourish-1.png') no-repeat 100% 100%;
}

.intro-menu li.menu-item-2 {
	margin-left: 10%;
	margin-right: 15%;
}

.intro-menu li.menu-item-3 {
	margin-left: 25%;
	margin-right: 10%;
}

.intro-menu li.menu-item-4 {
	margin-left: 0%;
	margin-right: 5%;
}

.intro-contact {
	text-align: left;
	position: absolute;
	right: 2%;
	bottom: 5%;
}

.intro-contact a {
	font-family: 'Grand Hotel', cursive;
	text-decoration: none;
	color: #ecf0f1;
	font-size: 2em;
	padding-bottom: 35%;
}

.intro-contact a:hover {
	background: url('flourish-2.png') no-repeat 60% 100%;
}

.glass-overlay	{
    background-color: red;
    position: absolute;
    padding: 0;
  	height: 55%;
    opacity: .5;
    position: fixed;
    z-index: 100;
  
}

/*.glass {
  	position: absolute;
  	padding: 0;
  	height: 55%;
  	z-index: 99;
}*/

.glass {
  position: absolute;
  top: 60%;
  width: 100%;
  height: 40%;
  background:  url('background-sample-2-blurry.png');
  background-position: center bottom;
  background-attachment: fixed;
  background-size: cover;
  content: "";
  z-index: 98;
}

.legacy-ie-fix {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #fff;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(opacity=20)";
}


/*Products Page*/

#second {

	height: 800px;

}

.product-image {
	width: 50%;
}

/*Services Page*/

#third {

	height: 800px;


}

#fourth {

	height: 800px;

}

#fifth{

	height: 800px;

}
